.nav-menu{
    margin-bottom: 10px;
    height: 35px;
    line-height: 35px;
    background: #f5f5f5;
    font-size: 12px;
    padding-left: 10px;
}

.auth-container{
    margin-top: 20px;
}

h5{
    margin: 0;
    padding: 0;
}

.sign-out{
    padding: 0;
    display: inline-block;
    margin-left: 20px;
}

.menu .current a{
    color: red;;
}